block {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block {
    display: flex;
}

.block.intro {
    background-color: #1F2937;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.container.intro-space {
    display: flex;
    flex-shrink: 1;
}

.content {
    color: #F9FAF8;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.content.header {
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

ul.link-text {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0px;
}

a, .secondary-text {
    color: #E5E7EB;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
}

.content.main {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.secondary-text {
    width: 400px;
    margin-block: 10px;
}

.signup-button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    padding-inline: 25px;
    padding-block: 6px;
}

.group.image {
    height: 400px;
    display: flex;
    align-items: center;
}